API_ID = 28010019
API_HASH = d883bdb2619d7b940dcd81cdb8e0bf92
BOT_TOKEN = 5418725646:AAGWKgHTRbFLFyCFgKWT_2zWFLOIbBPs1sI
LOG_GROUP_ID = -1002222604638
MONGO_DB_URI = mongodb+srv://yasircpr:zeo1122@cluster0.p1rl9bl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID = 6391774843
STRING_SESSION = BQGrZiMAWaJYVyqh_yBkAnEHtHkclEL9lRXo0RKXuzP6NP0PUJq9F3cyJx7zXnGtfQ5ngwRbXP1Ov81TnpYsNP-RtjHMKMytLNyzGI5V5K9eQpCyiHqdff9aqNKK_OgaO99mC4z5dM8bubUcYQ4wRueBmZ4OaJpECPK6itHrMQlWmxXOdU4iaWjxwVArFBkPIaP1M2JpXq_S3LDS__Fyl9sZn0zgrqe_IEfTO6Z6GkbzappRuelp-sTgIJ2wd6UWBeAqlBua4Gh5hlE_8ngIYhUDacYvbqu88Mawoi1zpj4nXFkl5gGjZ1BhAXDsM6odSqjTD8BWe_VOdqXYxo7vYbnZ7aSG8QAAAAHlyy_cAA
